body {
    padding: 20px;
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    box-shadow: 2px 2px 5px 0px;
}

h1 {
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

button {
    border-radius: 5px;
    justify-content: space-around;
    border: none;
    padding: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    

}

.sidebar {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
}

.content {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Estilos para la lista de publicaciones */
.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 8px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #0066cc;
}

/* Estilos para la publicación individual */
.content h2 {
    margin-bottom: 20px;
}

.content p {
    line-height: 1.6;
}
.footer {
    align-self: flex-end;
    text-align: center;
}
   